/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.jfx-button{
    -fx-background-color: #dddddd;
}

#lblMainNav:hover{
    -fx-underline: true;
}

.table-view .column-header .label{
    -fx-alignment:CENTER;
}

.table-view .table-row-cell:filled:hover{
    -fx-cursor:hand;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, white 0%, #f2cc19 50%, white 100%);
}

.table-view .table-row-cell:selected .table-cell{
    -fx-cursor:hand;
    -fx-text-fill: black !important;
}

.table-view .table-cell{
    -fx-alignment:CENTER;
}





